/* src/styles/global.css */
svg {
    width: 35px;
    height: 30px;
  }
  
  @media (max-width: 600px) {
    svg {
      width: 25px;
      height: 20px;
    }
  }
  
  @media (max-width: 400px) {
    svg {
      width: 20px;
      height: 15px;
    }
  }
  
.img_proyecto {
  border-radius: 20px;
  
}
.shadow-black {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
}