/* src/styles/global.css */
svg {
    width: 35px;
    height: 30px;
  }
  
  @media (max-width: 600px) {
    svg {
      width: 25px;
      height: 20px;
    }
  }
  
  @media (max-width: 400px) {
    svg {
      width: 20px;
      height: 15px;
    }
  }
  
.img_proyecto {
  border-radius: 20px;
  
}
.shadow-black {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
}

#typewriter {
  display: inline-block;
  font-size: inherit; /* Asegúrate de que herede el tamaño de fuente del contenedor */
  line-height: 1.2; /* Ajusta la altura de línea para mejorar el espaciado vertical */
  white-space: nowrap; /* Asegura que el texto no se divida en múltiples líneas */
}

