/* src/styles/global.css */
svg {
    width: 35px;
    height: 30px;
  }
  
  @media (max-width: 600px) {
    svg {
      width: 25px;
      height: 20px;
    }
  }
  
  @media (max-width: 400px) {
    svg {
      width: 20px;
      height: 15px;
    }
  }
  
.img_proyecto {
  border-radius: 20px;
  
}
.shadow-black {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
}

/* Estilos para el mensaje de éxito o error */
.form-message {
  margin-top: 40px;
  padding: 10px;
  border-radius: 8px; /* Ajusta el radio del borde según tus preferencias */
  text-align: center;
  max-width: 500px; /* Opcional: Limita el ancho máximo del contenedor */
  margin-left: auto; /* Centra el contenedor horizontalmente */
  margin-right: auto; /* Centra el contenedor horizontalmente */
}

/* Estilo para mensaje de éxito */
.success-message {
  max-width: 500px;
  text-align: center;
  border-radius: 8px; 
  background-color: #d4edda; /* Color de fondo verde claro */
  color: #155724; /* Color del texto verde oscuro */
  border: 1px solid #c3e6cb; /* Borde verde claro */
  margin-left: auto; /* Centra el contenedor horizontalmente */
  margin-right: auto; /* Centra el contenedor horizontalmente */
}

/* Estilo para mensaje de error */
.error-message {

  max-width: 500px;
  text-align: center;
  border-radius: 8px; 
  background-color: #f8d7da; /* Color de fondo rojo claro */
  color: #721c24; /* Color del texto rojo oscuro */
  border: 1px solid #f5c6cb; /* Borde rojo claro */
  margin-left: auto; /* Centra el contenedor horizontalmente */
  margin-right: auto; /* Centra el contenedor horizontalmente */
}
