---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from  '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
</Layout>
<main>
    <section class="w-full lg:w-[740px] mx-auto py-44 ">
        <h1 class="text-white text-5xl font-bold flex justify-center flex-row gap-x-4 pb-4">Hey, soy Diego <div class="flex justify-center items-center"> <a href="https://www.linkedin.com/in/diego-polo-214259323/" target="_blank" rel="noopener"><Badge>Disponible para trabajar</Badge></a></div></h1>
        <h2 class="text-xl opacity-80">Mas de 6 meses de experiencia, Desarollador Web y de Aplicativos Moviles. De Cali, Colombia. Especializado en crear soluciones unicas </h2>
    </section>
    
</main>
<style>

</style>
