---
 const personalImageAlt = "Diego Polo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p]:text-gray-200 [&>p]:text-base [&>p]:font-normal [&>p>strong]:text-yellow-200/90  [&>p>strong]:font-normal [&>p>strong]:text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Diego Andrés Polo Calvo, tengo 25 años y vivo en Colombia. Empecé en el mundo de la programación en el 
      2023 aprendiendo el lenguaje de Visual Basic para realizar macros en archivos Excel. Actualmente estoy  <strong
        >trabajando en el desarrollo y mantenimiento de paginas web y aplicativos moviles.</strong
      >.
    </p>

    <p>
      Cuento con experiencia desarrollando paginas web y aplicativos moviles. <strong
        >Durante mis estudios universitarios he destacado por ayudar y colaborar con mis compañeros</strong
      >. Me gusta crear experiencias unicas y utiles para las personas que me buscan.
    </p>
    <p>
        He trabajado en varios proyectos que me han permitido familiarizarme con <strong
        >tecnologías como HTML, CSS, JavaScript, y frameworks como 
        <em class="italic">React y Flutter</em> Mi objetivo</strong
      > Estoy convencido de que la calidad y la atención a los detalles son clave para crear productos excepcionales, y me esfuerzo por reflejar eso en cada proyecto en el que trabajo.
    </p>
  </div>

  <img width="200" height="200" src="public/me.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 max-w-xs transition duration-300 ease-in-out hover:scale-110 " style="object-position: 50% 50%">

</article>