<header class="flex flex-wrap justify-between items-center py-5 lg:px-6 md:px-4 px-2 w-full xl:w-[1120px] mx-auto">
    <img class="rounded-full h-14 w-14 mx-auto sm:mx-0" src="/diego_polo.jpg" alt="foto diego polo">
    <nav class="w-full sm:w-auto flex lg:gap-x-10 gap-x-4 justify-center sm:justify-end sm:flex-row flex-row items-center mt-2 sm:mt-0">
        <a href="#top" class="text-gray-100 hover:text-violet-400 hover:scale-105 transition-all duration-300">Inicio</a>
        <a href="#proyectos" class="text-gray-100 hover:text-violet-400 hover:scale-105 transition-all duration-300">Proyectos</a>
        <a href="#about" class="text-gray-100 hover:text-violet-400 hover:scale-105 transition-all duration-300">Acerca de mí</a>
        <a href="#contact" class="text-gray-100 hover:text-violet-400 hover:scale-105 transition-all duration-300">Contacto</a>
    </nav>
</header>
