--- 
import ProyectosItem from '../components/ProyectosItem.astro'; 

const PROJECTS = [ 
    { 
        title: "ECONOREPUESTOS S.A.S", 
        description: "MANDINGO CITY EXTREMO", 
        link: "" 
    }, 
    { 
        title: "MIXTERIX COMUNIDAD GAMER", 
        description: "ASDASDASD", 
        link: "PRUEBA PRUEBA" 
    } 
]; 
---

<ol class="relative border-s border-gray-200 dark:border-gray-700"> 
    {PROJECTS.map(project => ( 
        <li class="mb-10 ms-4"> 
            <ProyectosItem {...project} /> 
        </li> 
    ))} 
</ol>
