--- 
import ProyectosItem from '../components/ProyectosItem.astro'; 

const PROJECTS = [ 
    { 
        title: "ECONOREPUESTOS S.A.S", 
        description: "Pagina web estatica creada para empresa dedicada a la venta de repuestos para motocicletas", 
        link: "https://econorepuestos.diegopolodev.com" 
    }, 
    { 
        title: "MIXTERIX COMUNIDAD GAMER", 
        description: "Pagina web seccionada creada para creador de contenido dedicado al mundo de los videojuegos", 
        link: "https://mixterix.diegopolodev.com" 
    } 
]; 
---

<ol class="relative border-s border-gray-200 dark:border-gray-700"> 
    {PROJECTS.map(project => ( 
        <li class="mb-10 ms-4"> 
            <ProyectosItem {...project} /> 
        </li> 
    ))} 
</ol>
