--- 
import ProyectosItem from '../components/ProyectosItem.astro'; 


const PROJECTS = [ 

    { 
        title: "Medicina Interna - Lorena Beltran", 
        description: "Pagina Web Profesional creada para medica internista con consultorio privado ubicado en Pitalito, Huila. Se usaron HTML, CSS y JS, con tecnologias como Bootstrap, TailwindCSS y NodeJS.", 
        link: "https://lorenabeltran.diegopolodev.com",
        github: "https://github.com/mixterix99/cindybeltran",
        image:"/capture_medicinainterna.webp",
    },

    { 
        title: "Yes Maybe No - APP MOBILE", 
        description: "Aplicación Android/iOS sirve para simular una pareja virtual con inteligencia artifical que responde Si/Talvez/No a las preguntas cerradas que le hagan ademas de enviar memes. Aplicacion creada con Flutter y consumo de APIs", 
        link: "https://imgur.com/a/yG0wf2z",
        github: "https://github.com/mixterix99/yesmaybenoAPP",
        image:"/capture_yesnoapp.webp",
    },
    { 
        title: "ECONOREPUESTOS S.A.S", 
        description: "Pagina web estatica creada para empresa dedicada a la venta de repuestos para motocicletas contiene secciones de inicio, acerca de mi, productos, contacto. Integrado con Google Maps y formulario para recibir solicitudes de asesorias o cotización directo al correo electronico.", 
        link: "https://econorepuestos.diegopolodev.com" ,
        github: "https://github.com/mixterix99/econorepuestossas",
        image:"/capture_econorepuestos.webp",
    }, 
    { 
        title: "DIFERCO - TIENDA ONLINE", 
        description: "Pagina Ecommerce creada para empresa dedicada al comercio de productos para la construcción, plomeria, herramientas, ferreteria y elementos de aseo e higene personal. Creado en WordPress con WooCommerce y Elementor incluyendo tienda en linea completamente funcional." ,
        link: "https://diferco.diegopolodev.com",
        github: "https://github.com/mixterix99/",
        image:"/capture_diferco.webp",
    }, 
    { 
        title: "MIXTERIX COMUNIDAD GAMER", 
        description: "Pagina web seccionada creada para creador de contenido dedicado al mundo de los videojuegos en inicio que contiene información general y estadisticas, sección acerca de mi que contiene información relevante del creador de contenido y vinculos para realizar donaciones y sección de redes sociales con vinculos directos.", 
        link: "https://mixterix.diegopolodev.com",
        github: "https://github.com/mixterix99/mixterixcomunidadgamer",
        image:"/capture_mixterix.webp",
    },

]; 
---

<ol class="relative border-s border-gray-200 dark:border-gray-700"> 
    {PROJECTS.map(project => ( 
        <li class="mb-10 ms-4"> 
            <ProyectosItem {...project} /> 
        </li> 
    ))} 
</ol>
