--- 
import ProyectosItem from '../components/ProyectosItem.astro'; 

const PROJECTS = [ 
    { 
        title: "ECONOREPUESTOS S.A.S", 
        description: "Pagina web estatica creada para empresa dedicada a la venta de repuestos para motocicletas contiene secciones de inicio, acerca de mi, productos, contacto. Integrado con Google Maps y formulario para recibir solicitudes de asesorias o cotización directo al correo electronico.", 
        link: "https://econorepuestos.diegopolodev.com" ,
        github: "https://github.com/mixterix99/econorepuestossas",
        image:"public/capture_econorepuestos.webp",
    }, 
    { 
        title: "MIXTERIX COMUNIDAD GAMER", 
        description: "Pagina web seccionada creada para creador de contenido dedicado al mundo de los videojuegos en inicio que contiene información general y estadisticas, sección acerca de mi que contiene información relevante del creador de contenido y vinculos para realizar donaciones y sección de redes sociales con vinculos directos.", 
        link: "https://mixterix.diegopolodev.com",
        github: "https://github.com/mixterix99/mixterixcomunidadgamer",
        image:"public/capture_mixterix.webp"
    } 
]; 
---

<ol class="relative border-s border-gray-200 dark:border-gray-700"> 
    {PROJECTS.map(project => ( 
        <li class="mb-10 ms-4"> 
            <ProyectosItem {...project} /> 
        </li> 
    ))} 
</ol>
